
/* Common stylings */
html{
    font-family: 'Raleway';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    margin: 0 0 10px 0;
}

h3 {
    font-size: 24px;
}
/*End -- Common stylings */

/* Layout stylings */
nav, main, footer {
    max-width: 1400px;
    padding: 0 20px;
    margin: auto;
}
/* END -- Layout stylings */

/* Navigation stylings */
nav {
    display: flex;
    padding: 40px 20px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-links{
    flex: 1;
    text-align: right;
   
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}

.nav-links ul li a{
    text-decoration: none;
}

.nav-links a:hover{
    text-decoration: overline #0065FC 3px;
    
}
/* END -- Navigation stylings */

/* Header container styling */
.search-form {
    display: inline-flex;
    justify-content: space-evenly;
    max-width: 100%;
    align-items: stretch;
    margin-top: 30px;
}

.search-icon{
    background-color: #F2F2F2;
    padding: 16px 20px;
    border-radius: 15px 0 0 15px;
    text-align: center;
}

.search-box{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
    padding: 0 15px;
    width: 230px;
}

.button-submit{
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 16px 20px;
}

.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    border: none;
}

.filters h2 {
    margin-right: 30px;
}

.filters button {
    margin-right: 20px;
}

.button-icon{
    background-color: #DEEBFF;
    padding: 16px;
    border-radius: 150px;
    color: #0065FC;
}

.buttons{ 
    border: none;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
    border-right: #F2F2F2 2px solid;
    border-radius: 150px;
    padding: 16px 16px 16px 0;
    background-color: white;
}

.buttons:hover{
    background-color: #DEEBFF;
    transition: 0.2s;
    box-shadow: 2px 2px 2px #dddada;
    cursor: pointer;
}

.buttons:focus{
    background-color:  #DEEBFF;
    font-weight: bold;
}

.button-text{
    padding-left: 10px;
}

.info{
    margin-top: 30px;
    justify-content: center;
}

.info i {
    margin-right: 10px;
    color: #0065FC;
    padding: 17px 15px 17px 15px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid black
}
/* END -- Header container styling */

/* Accomodation container styling */
.two-containers {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.card {
    width: 31%;
}

.card-container {
    width: 66%;
}

.aside {
    width: 30%;
}

.card-container, .aside {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 45px 25px;
}

.card-container h3, .aside h3 {
    margin: 0 0 30px;
}

.card-titles {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card, .aside-card {
    border-radius: 20px;
    background-color: white;
    margin: 0 15px 30px 0;
    padding: 3px;
    box-shadow: 5px 5px 5px 5px #dddada;
}



.card-bottom {
    padding: 5px 10px 10px;
}

.card-bottom p {
    margin: 5px 0 8px;
}

.aside-card {
    display: flex;
    max-width: 100%;
}

.aside-card img {
    height: 150px;
    border-radius: 20px 0 0 20px;
    width: 45%;
    min-width: 45%;
    object-fit: cover;
    padding: 3px;
}

.aside-card a {
    display: flex;
}

.image-wrapper {
    overflow: hidden;
    margin: 0 3px 0 0;
    border-radius: 20px 20px 0 0;
}

.card img {
    border-radius: 20px 20px 0 0;
    min-width: 225px;
    width: 100%;
    max-height: 135px;
    object-fit: cover;
    padding: 3px;
}

.card, .aside-card, .activity-card {
    transition: 0.5s;
}

.card:hover, .aside-card:hover, .activity-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.stars {
    font-size: 10px;
    color: #0065FC;
}

.aside-cards {
    display: flex;
    flex-direction: column;
}

.align-header {
    display: flex;
    justify-content: space-between;
}

.show-more {
    margin: 10px 0 0;
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
}

.show-more:hover{
    color: #0065FC;
    text-decoration: underline;
}
/* END -- Accomodation container styling */

/* Activites section stylings */
.activities {
    margin-top: 50px;
}

.activity-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


a .old, a .cal {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 440px;
    object-fit: cover;
}

a .fort, a .long {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

a .island, a .notre {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.activity-card {
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin: 15px;
    box-shadow: 5px 5px 5px 5px #dddada;
    object-fit: cover;
    padding-bottom: 15px;
    width: 22.5%;
}

.activity-card h4 {
    padding: 15px 15px 5px;
}

.active-wrap {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.active-wrap .activity-card {
    width: calc(100% - 30px);
}

/* END -- Accomodation section stylings */

/* Footer stylings */
footer {
    display: flex;
    flex-direction: row;
    padding: 25px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-container {
    margin: 0 50px 0 50px;
    background-color: #F2F2F2;
    
}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.column h4 {
    font-weight: 700;
    text-decoration: underline;
    padding-bottom: 7px;
}

.column a {
    padding: 5px 5px 5px 0;
    max-width: fit-content;
}

.column a:last-child{
    padding-bottom: 20px;
}

.column a:hover{
    text-decoration: underline;
}
/* END -- Footer stylings */

@media(max-width: 1200px) {
    /* Activites container stylings */
    .two-containers{
        flex-direction: column;
    }

    .card-container{
        width: 100%;
        margin: 0 0 50px;
    }

    .aside{
        width: 100%;
    }

    .aside-cards{
        flex-direction: row;
    }

    .aside-card{
        flex-direction: column;
        height: 100%;
        width: 80%;
    }

    .aside-cards img{
        width: 100%;
        border-radius: 20px 20px 0 0;
    }
    .activity-cards {
        flex-wrap: wrap;
        justify-content: start;
    }

    .activity-card {
        width: 47.5%;
    }

    .active-wrap {
        width: 47.5%;
    }

    .active-wrap .activity-card {
        width: 100%;
    }
    /* END -- Activites container stylings */
    
    /* Accomodation container stylings */
    .card {
        width: 27%;
    }
    /* END -- Accomodation container stylings */
}

@media(max-width: 1050px) {
    .buttons{
        margin: 3px;
    }
    .two-containers{
        flex-direction: column;
    }

    .card-container{
        width: 100%;
        margin: 0 0 50px;
    }

    .card{
        width: 45%;
    }

    .aside{
        width: 100%;
    }

    .aside-card{
        height: 250px;
    }

    /* Footer stylings */
    footer {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    /* END -- Footer stylings */
}

@media(max-width: 768px) {
    /* Header container styling */

    .nav-links{
        flex-direction: column;
        justify-content: center;
    }

    .nav-links a:hover{
        text-decoration: underline #0065FC 3px;
    }

    .nav-links img{
        padding-left: 22%;
    }

    .top-section p{
        display: flex;
        justify-content: center;
    }

    .top-section h1{
        padding-left: 20%;
    }

    .search-form{
        display: flex;
        justify-content: center;
    }

    .filters{
        justify-content: center;
    }

    .filters h2 {
        display: flex;
        margin: 0 0 10px 0;
        width: 100%;
        justify-content: center;
    }

    .buttons {
        width: 50%;
        text-align: left;
        margin: 0 0 10px 0;
    }
    /* END -- Header container styling */

    /* Activites container stylings */
    .two-containers {
        flex-direction: column;
    }

    .card-container {
        width: 100%;
        margin: 0 0 50px;
    }

    .card {
        width: 100%;
    }

    .aside {
        width: 100%;
    }

    .card, .aside-card {
        margin: 0 0 30px 0;
    }

    .aside-card{
        width: 100%;
    }

    .aside-cards{
        flex-direction: column;
    }

    .activity-card {
        flex-direction: column;
        width: 100%;
    }

    .activity-card img{
        max-height: 150px;
        object-fit: cover;
    }

    .active-wrap {
        width: 100%;
    }

    .active-wrap .activity-card {
        width: calc(100% - 30px);
    }

    .column {
        display: flex;
        align-items: center;
    }
    /* END -- Activites container stylings */
}